/*RESET AND CLEARFIX */

body, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

li {
  list-style: none;
}

/*Grid */

.grid {
  border: 1px solid #000;
  width: 400px;
  float: left;
}

.grid > li {
  width: 18px;
  height: 18px;
  background: #fff;
  display: block;
  float: left;
  border: 1px solid #aaa;
}

.grid > li.snake {
  background: green;
}

.grid > li.dead {
  background: black;
}

.grid > li.apple {
  background: red;
}

/*Non-Grid*/
.grid-and-scores {
  width: 552px;
  margin: auto;
}
.fake-grid {
  float: left;
  border: 2px solid #000;
  width: 398px;
  height: 398px;
  background: green;
}

.top-scores {
  float: right;
  width: 148px;
  height: 398px;
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.top-scores h1 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: underline;
  margin: 10px 0;
}

.top-scores table {
  width: 100%;
  outline: thin solid black;
}

.top-scores tr {
  outline: thin solid black;
}

.top-scores td {
  padding: 5px 0;
  text-align: center;
}


.head-info {
  width: 548px;
  margin: auto;
  border-top: 2px solid #000;
  border-left:2px solid #000;
  border-right: 2px solid #000;
  background: #14CC94;
}

.title, .points {
  margin: auto;
  display: block;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: green;
  text-shadow: -1px 0 #444, 0 1px #444, 1px 0 #444, 0 -1px #444;
  padding-top: 5px;
}

.title {
  float: left;
  width: 348px;
}

.points {
  float: right;
  background: white;
  border-left: 2px solid #000;
  width: 198px;
  letter-spacing: 12px;
}

.container {
  width: 548px;
  margin: auto;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}

.container button {
  font-size: 24px;
  float: right;
  background: red;
  border: none;
  font-weight: 700;
  width: 150px;
  height: 34px;
  border-left: 2px solid #000;
}

.container button:hover {
  cursor: pointer;
  background: green;
}

.container input {
  font-size: 24px;
  width: 392px;
  float: left;
  text-align: center;
}

.container input:hover {
  cursor: pointer;
}

footer {
  width: 548px;
  margin: auto;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  margin-bottom: 50px;
}

footer p {
  margin: 0;
  background: #14CC94;
  font-size: 20px;
}
