/*RESET AND CLEARFIX */

body, ul, li, h1 {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

li {
  list-style: none;
}

/*Grid */

.grid {
  margin: auto;
  border: 1px solid #000;
  width: 400px;
}

.grid > li {
  width: 38px;
  height: 38px;
  background: #fff;
  display: block;
  float: left;
  border: 1px solid #000;
}

.grid > li.snake {
  background: green;
}

.grid > li.apple {
  background: red;
}

/*Non-Grid*/
.head-info {
  width: 398px;
  margin: auto;
  border-top: 2px solid #000;
  border-left:2px solid #000;
  border-right: 2px solid #000;
  background: #14CC94;
}

.title, .points {
  margin: auto;
  display: block;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: green;
  text-shadow: -1px 0 #444, 0 1px #444, 1px 0 #444, 0 -1px #444;
  padding-top: 5px;
}

.title {
  float: left;
  width: 198px;
}

.points {
  float: right;
  background: white;
  border-left: 2px solid #000;
  width: 198px;
  letter-spacing: 15px;
}
