<div class="head-info group">
  <h1 class="title">Snake</h1>
  <h1 class="points">000000</h1>
</div>

<div class="grid-and-scores group">
  <section id="primary">
    <div class="fake-grid">
    </div>
  </section>
  <aside class="top-scores">
    <h1>High Scores</h1>
    <table>
      <tr class="table-headers">
        <th>
          Name
        </th>
        <th>
          Score
        </th>
      </tr>
    </table>
  </aside>
  <div class="game-overlay">
    Game Over
    <p>
      You scored <strong></strong> points.
    </p>
  </div>
</div>


<section class="container group">
  <label>
    <select class="speed-select">
      <option value="200">Easy</option>
      <option value="100" selected>Normal</option>
      <option value="50">Hard</option>
      <option value="25">Impossible</option>
    </select>
  </label>

  <label>
    Name
    <input class="username" type="text" value="GUEST">
  </label>
  <button class="start">Start Game</button>
</section>
<footer>
<p>
  <strong>Instructions:</strong> Use the arrow keys to move.  Hit spacebar to
  pause the game.  Adjust the selector to change the speed of the game (and
  the points from each apple).  Good luck!
</p>

</footer>
<script>

$.ajax({
  url: "/scores",
  type: "GET",
  success: function (top_scores) {
    window.SnakeGame.View.prototype.generateTopScores(top_scores)
  }
});

$('.start').on("click", function () {
  $(".game-overlay").css("display", "none");

  $('#primary').empty();
  var $button = $(event.currentTarget);

  $button.html("New Game");
  $button.prop("disabled", true);

  window.Snakes = new window.SnakeGame.View(
    $("#primary"),
    $(".points"),
    $(".speed-select").val(),
    $(".username").val()
  );
});
</script>
